{% extends "layout.html" %}
{% block style %}
<style>
#userid{
    text-align: center;
    margin-top: 100px;
}

#userpw{
    text-align: center;
}

strong{ color: purple;}

#home{
    margin-top: 5px;
    text-align: center;
}

/* #home>button{
    background: rebeccapurple;
    color:white;
    cursor:pointer;
    border:none;
} */

#home > ul {
    list-style: none;
}

#home > ul > .home {
    cursor:pointer;
    border:none;
}

#home > ul > .home > a {
    text-decoration: none;
    background: rebeccapurple;
    color:white;
}

</style>
{% endblock %}


{% block content %}
<div id="userid">
    <strong>사용자id</strong>
    : {{userid}}
</div>
<div id="userpw">
    <strong>사용자이름</strong>
    : {{username}}
</div>
<div id="home">
    <!-- <button id="home" type="button" href="/" >홈으로</button> -->
    <ul>
        <li class="home"><a href="/">홈으로</a></li>
    </ul>
</div>

{% endblock %}